html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*===================END ===========*/
*{
box-sizing: border-box;
}
body{
    font-family: 'Open Sans', Arial,  sans-serif;
    color: #4d4d4d;
    font-size: 14px;
}
a{
text-decoration: none;
}
.wrapper{
margin: 0 auto;
max-width: 1200px;
}
.row__header{
display: flex;
flex-flow: row wrap;
align-items: center;
padding: 50px 0;
}
h1{
font-size: 40px;
margin-right: auto;
}
.nav{
display: flex;
flex-flow: row wrap;
}
.nav li{
    margin-left: 55px;
}
.nav a{
color: #4d4d4d;
}
nav a:hover{
border-bottom: 1px solid #4d4d4d;
}
.billboard{
background-image: url(img/head.jpg);
height: 652px;
-webkit-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
max-width: 100%;
display: flex;
}

.billboard .wrapper{
 display: flex;
flex-flow: column wrap;
justify-content: center;
text-align: center;
}
.row__billboard{
display: flex;
flex-flow: column wrap;
align-items: center;
justify-content: center;
text-align: center;
}
.billboard h2{
font-size: 50px;
}
.billboard p{
font-size: 16px;
padding: 40px 0;
}
.billboard a{
display: inline-block;
border-radius: 50px;
background-color: #4d4d4d;
color: white;
text-transform: uppercase;
padding: 15px 75px;
font-weight: bold;
}
.row__services{
display: flex;
flex-flow: row wrap;
height: 320px;
align-items: flex-end;
justify-content: space-around
}
.column__services{
width: 335px;
text-align: center;
padding: 5px;
}
.column__services h2{
font-size: 22px;
font-weight: bold;
text-transform: uppercase;
padding: 40px 0;
}